
body {
    font-family: Arial, sans-serif;
    background-color: #cececb;
  }
  
  h1 {
    color: #443434;
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #594b5b;
  }
  
  a {
    color: #594b5b;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: rgb(236, 225, 12);
  }

  img {
    width: 500px;
    height: 400px;
    margin: 80px;
  }
  
  .snack-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .snack-list h2 {
    flex-basis: 25%; /* Adjust the value as needed */
    margin: 0;
  }
  